extends layout

block title
  title Recipe details —— Recipe net

block content
  div(class="container")
    hr
    div(class="row")
      div(class="col-4")
        div(class="card")
          img(class="card-image-top" height=348 src=result.albums )
          div(class="card-body")
            h5(class="card-title")
              img(src="/svg/tray.svg" alt="/svg/tray.svg" style="width: 1.5rem")
              | &nbsp;
              != result.title
            if currentUser && !collectDisabled
              a(href=`/detail/add-user-menu/${result.id}` class="btn btn-danger w-50")
                img(src="/svg/review.svg" alt="/svg/review.svg" style="width: 2rem")
                | &nbsp;
                span(class="align-middle") Collection
            else if currentUser && collectDisabled
              button(disabled class="btn btn-danger w-50")
                //- a(href=`/collect?userId=null&menuId=${result.id}`)
                img(src="/svg/review.svg" alt="/svg/review.svg" style="width: 2rem")
                | &nbsp;
                span(class="align-middle") Collected
            else
              button(disabled class="btn btn-danger w-50")
                //- a(href=`/collect?userId=null&menuId=${result.id}`)
                img(src="/svg/review.svg" alt="/svg/review.svg" style="width: 2rem")
                | &nbsp;
                span(class="align-middle") Collect after login
      div(class="col-8")
        h6
          img(src="/svg/ingredient.svg" alt="/svg/ingredient.svg" style="width: 1.5rem")
          | &nbsp;&nbsp;Main ingredient：#{ result.ingredients }
        h6
          img(src="/svg/salt-and-pepper.svg" alt="/svg/salt-and-pepper.svg" style="width: 1.5rem")
          | &nbsp;&nbsp;Auxiliary ingredien：#{ result.burden }
        hr
        p #{ result.imtro }
        - for (var i = 0; i < result.tags.length; i++)
          span(class="badge badge-pill badge-info my-1" style="font-size: 1rem") #{ result.tags[i] }
          | &nbsp;
    hr
    div(class="row")
      div(class="col-4")
        div(id="list-example" class="list-group")
          - for (var j = 0; j < result.steps.length; j++)
            a(class="list-group-item list-group-item-action") #{ result.steps[j].step }
      div(class="col-8")
        div(data-spy="scroll" data-target="#list-example" data-offset="2" style="overflow: auto; position: relative; height:300px")
          - for (var k = 0; k < result.steps.length; k++)
            h4(id=`list-item-${k}`) #{ result.steps[k].step }
            //img(src=result.steps[k].img alt='result.steps[k].img')
            hr
    div(class="row")
      div(class="col-2")
      div(class="col-8")
        h4(id="commentArea") Comments
        hr
        - for (let i = 0; i < comments.length; i++)
          div(class="row")
            div(class="col")
              span #{ comments[i].user.username } ：
          div(class="row")
            div(class="col")
              p
                != comments[i].content
              span(class="font-weight-light text-secondary") #{ i + 1 } Floors
              span(class="font-weight-light text-secondary") #{ comments[i].createdAt}
          hr
      div(class="col-2")
    if currentUser
      div(class="row" id="commentForm")
        div(class="col-2")
        div(class="col-8")
          form(action=`/detail/add-comment` method="POST")
            input(type="hidden" value=result.id name="menuId")
            input(type="hidden" value=currentUser.account name="account")
            div(class="form-group")
              label(for="comment-content")
                h4
                  img(src="/svg/chat.svg" alt="/svg/chat.svg" style="width: 2rem")
                  | &nbsp;Idea about this recipe
              textarea(type="text" class="form-control" id="comment" name="comment")
            input(class="btn btn-primary" type="submit" value="Comment" )
        div(class="col-2")
    else
      div(class="alert alert-danger text-center")
        a(href="/login") Please Login
        span    before making comments
    hr
    - for (var x = 0; x < errors.length; x++)
      div(class="alert alert-danger text-center" role="alert") #{ errors[x] }
    - for (var j = 0; j < infos.length; j++)
      div(class="alert alert-success text-center" role="alert") #{ infos[j] }

