extends layout

block title
  title Recipe net

block content

  div(class="container")
    div(style="margin-bottom: 0.75rem;")
      div(class="card" style="text-align: center")
        img(class="card-img-top" src='/mainphoto.jpg' alt="mainphoto.jpg")
    div(class="card-columns")
      - for (var i = 0; i < menus.length; i++)
        div(class="card")
          a(href=`/detail/${menus[i].id}`)
            img(class="card-img-top" src=menus[i].albums alt="menus[i].albums")
          div(class="card-body")
            a(href=`/detail/${menus[i].id}`)
              h5(class="card-title") #{menus[i].title}
        - for (var j = 0; j < menus[i].tags.length; j++)
          span(class="badge badge-pill badge-info my-1" style="font-size: 1rem") #{ menus[i].tags[j] }
          | &nbsp;

