extends layout

block title
  title Menu —— Recipes net

block content
  div(class="container")
    ul(class="nav nav-pills")
      li(role="presentation")
        a(href="/menu/staplefood/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Staple Food
      li(role="presentation")
        a(href="/menu/meat/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Meat
      li(role="presentation")
        a(href="/menu/seafood/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Seafood
      li(role="presentation")
        a(href="/menu/vagetable/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Vagetable
      li(role="presentation")
        a(href="/menu/dessert/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Dessert
      li(role="presentation")
        a(href="/menu/soup/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Soup
      li(role="presentation")
        a(href="/menu/lightfood/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Lightfood
      li(role="presentation")
        a(href="/menu/healthyfood/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;Healthy Food
      li(role="presentation")
        a(href="/menu/internationalfood/0")
          img(src="/svg/article.svg" alt="/svg/article.svg" style="width: 1.5rem")
          | &nbsp;International Food
    hr
    div(class="card-columns")
      - for (var i = 0; i < menus.length; i++)
        div(class="card")
          a(href=`/detail/${menus[i].id}`)
            img(class="card-img-top" src=menus[i].albums alt="menus[i].albums")
          div(class="card-body")
            a(href=`/detail/${menus[i].id}`)
              h5(class="card-title") #{menus[i].title}
            - for (var j = 0; j < menus[i].tags.length; j++)
              span(class="badge badge-pill badge-info my-1" style="font-size: 1rem") #{ menus[i].tags[j] }
              | &nbsp;
    //hr
    //nav(aria-label="Page navigation example")
    //  ul(class="pagination justify-content-center")
    //    if offset === 0
    //      li(class="page-item disabled")
    //        a(class="page-link" href=`/menu/${offset}` tabindex="-1") Previous page
    //    else
    //      li(class="page-item")
    //        a(class="page-link" href=`/menu/${offset-100}` tabindex="-1") Next page
    //
    //    if totalNumPage >= 20
    //      if offset < 300
    //        - for (var k = 0; k < 5; k++)
    //          if k === offset/100
    //            li(class="page-item active")
    //              a(class="page-link" href=`/menu/${k * 100}`) #{ k+1 }
    //                span(class="sr-only") (current)
    //          else
    //            li(class="page-item")
    //              a(class="page-link" href=`/menu/${k * 100}`) #{ k+1 }
    //      else
    //        li(class="page-item")
    //          a(class="page-link" href=`/menu/0`) 1
    //        li(class="page-item disabled")
    //          a(class="page-link" href=`#`) ...
    //        - for (var j = offset/100-2; j < (offset/100+3 > totalNumPage? totalNumPage: offset/100+3) ; j++)
    //          if  j === offset/100
    //            li(class="page-item active")
    //              a(class="page-link" href=`/menu/${j * 100}`) #{ j+1 }
    //                span(class="sr-only") (current)
    //          else
    //            li(class="page-item")
    //              a(class="page-link" href=`/menu/${j * 100}`) #{ j+1 }
    //      li(class="page-item disabled")
    //        a(class="page-link" href=`#`) ...
    //      li(class="page-item")
    //        a(class="page-link" href=`/menu/${(totalNumPage-1)* 100}`) #{ totalNumPage }
    //    else
    //      - for (var i = 0; i < totalNumPage; i++)
    //        if i === offset / 100
    //          li(class="page-item active")
    //            a(class="page-link" href=`/menu/${i * 100}`) #{ i+1 }
    //              span(class="sr-only") (current)
    //        else
    //          li(class="page-item")
    //            a(class="page-link" href=`/menu/${i * 100}`) #{ i+1 }
    //
    //    if offset === (i-1) * 100
    //      li(class="page-item disabled")
    //        a(class="page-link" href="#") Next page
    //    else
    //      li(class="page-item")
    //        a(class="page-link" href=`/menu/${offset + 100}`) Next page
