extends layout

block title
  title MY —— Recipes net

block content
  div(class="container")
    div(class="row")
      div(class="col-3 text-right")
        //img(class="card-img-top rounded-circle" style="width: 10rem;" src=currentUser.avatar alt="Card image cap")
      div(class="col-6")
        h5(class="card-title") #{ currentUser.username }
        div(class="font-weight-light") #{ currentUser.account }
          if currentUser.gender === 'M'
              img(class="mx-1" src="/masculine.svg" alt="/masculine.svg" style="width: 1rem")
          else if currentUser.gender === 'F'
            img(class="mx-1" src="/femenine.svg" alt="/femenine.svg" style="width: 1rem")
          else
            span(class="font-weight-light") Unknown gender
        div(class="font-weight-light")
          img(src="/envelope.svg" alt="/envelope.svg" style="width: 1rem")
          span(class="mx-1") #{ currentUser.email }
          //if currentUser.confirmed
          //  span(class="badge badge-success") Authenticated
          //else
          //  span(class="badge badge-danger") Authenticated
        //div(class="card-text")
        //  | Follow 
        //  span(id="followingNum" class="text-info") #{ currentUser.following ? currentUser.following.length: 0 }
        //  | Followers
        //  span(class="text-info") #{ currentUser.followers ? currentUser.followers.length: 0}
        p #{ currentUser.intro }
          //if !currentUser.confirmed
          //  div(class="alert alert-danger" role="alert") Mailbox not verified. Please verify as soon as possible! Please login again after verification
      //div(class="col-3")
      //  if currentUser && !followingDisabled
      //    a(href=`/following?followingId=${currentUser.id}` class="btn btn-primary w-75") Follow
      //  else if currentUser && followingDisabled
      //    button(disabled class="btn btn-primary w-75") Following
      //  else
      //    button(disabled class="btn btn-primary w-75") Follow after login
    hr
    div(class="row text-center")
      div(class="col")
        ul(class="nav nav-tabs" id="myTab" role="tablist")
          li(class="nav-item")
            a(class="nav-link active" id="collection-tab" data-toggle="tab" href="#collection" role="tab" aria-controls="collection" aria-selected="true") Collect recipes
          li(class="nav-item")
            a(class="nav-link" id="uploadMenu-tab" data-toggle="tab" href="#updateMenu" role="tab" aria-controls="updateMenu" aria-selected="false") Upload recipes
          li(class="nav-item")
            a(class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false") Review recipes
        div(class="tab-content" id="myTabContent")
          div(class="tab-pane fade show active" id="collection" role="tabpanel" aria-labelledby="collection-tab")
            div(class="card-columns mt-4")
              if menus.length > 0
                - for (let i = 0; i < menus.length; i++)
                  div(class="card")
                    img(class="card-img-top" src=menus[i].albums alt="menus[i].albums")
                    div(class="card-body")
                      h5(class="card-title") #{ menus[i].title }
                      div(class="row")
                        if removeVisiable
                          div(class="col")
                            a(href=`/detail/${menus[i].id}` class="btn btn-success") View
                          div(class="col")
                            input(id=`remove${i}` type="button" class="btn btn-danger" value="Remove"
                            onclick='$.ajax({ url: "/usermenus", method: "DELETE", data: { userId: ' + currentUser.id + ', menuId: ' + menus[i].id + '}, timeout: 2000, error: function(data) { swal("OH!", "Failed！", "error");} }).done(function() { $("#remove' + i + '").parent().parent().parent().parent().fadeTo("slow", 0.1, function() { $(this).slideUp("slow", function() { $(this).remove(); }) }); });')
                        else
                          div(class="col")
                            a(href=`/detail/${menus[i].id}` class="btn btn-success") View
              else
                p No recipe collection
          div(class="tab-pane fade" id="updateMenu" role="tabpanel" aria-labelledby="updateMenu-tab")
            form(action="/user/add-menu", method="post", enctype="multipart/form-data")
              div(class="form-group")
                label(for="pic") photograph
                input(type="file" class="form-control" id="pic" name="pic" required)
              div(class="form-group")
                label(for="title") title
                input(type="text" class="form-control" id="title" name="title" required minlength="1" maxlength="50")
              div(class="form-group")
                label(for="tags") tags Separated by English symbols
                textarea(type="text" class="form-control" id="tags" name="tags" autofocus="autofocus")
                //input(type="text" class="form-control" id="tags" name="tags" maxlength="100" autofocus="autofocus")
              div(class="form-group")
                label(for="imtro") introduction
                textarea(type="text" class="form-control" id="imtro" name="imtro" autofocus="autofocus")
                //input(type="text" class="form-control" id="imtro" name="imtro" maxlength="100" autofocus="autofocus")
              div(class="form-group")
                label(for="ingredients") ingredients
                textarea(type="text" class="form-control" id="ingredients" name="ingredients" autofocus="autofocus")
                //input(type="text" class="form-control" id="ingredients" name="ingredients" maxlength="100" autofocus="autofocus")
              div(class="form-group")
                label(for="burden") burden
                textarea(type="text" class="form-control" id="burden" name="burden" autofocus="autofocus")
                //input(type="text" class="form-control" id="burden" name="burden" maxlength="100" autofocus="autofocus")
              div(class="form-group")
                label(for="steps") steps Separated by English symbols among steps
                textarea(type="text" class="form-control" id="steps" name="steps" autofocus="autofocus")
                //input(type="text" class="form-control" id="steps" name="steps" maxlength="100" autofocus="autofocus")
              div(class="form-group")
                label(for="type") type
                input(type="text" class="form-control my-2" name="type" list="type" placeholder="staplefood" required)
                datalist(id="type"  class="dropdown-menu")
                  option(value="staplefood" class="dropdown-item")
                  option(value="vegetables" class="dropdown-item")
                  option(value="dessert" class="dropdown-item")
                  option(value="soup" class="dropdown-item")
                  option(value="lightfood" class="dropdown-item")
                  option(value="healthyfood" class="dropdown-item")
                  option(value="internationalfood" class="dropdown-item")
                  option(value="staplefood" class="dropdown-item")
                  option(value="meat" class="dropdown-item")
                  option(value="seafood" class="dropdown-item")
              hr
              button(type="submit" class="btn btn-primary") Submit
          div(class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab")
            div(class="card-columns mt-4")
              if comments.length > 0
                - for (let i = 0; i < comments.length; i++)
                  div(class="card")
                    //- img(class="card-img-top" src=currentUser.comments[i].menu.albums alt="currentUser.comments[i].menu.albums")
                    div(class="card-body")
                      div(class="row")
                      // - h5(class="card-title") Comment object：#{ comments[i].menu.title }
                      p(class="") Comment contents：
                      != comments[i].comment
                      div(class="col")
                      a(class="btn btn-success" href=`/detail/${comments[i].menuId}#commentArea`) View
              else
                p No recipe comments

